@import 'utilities';

.search {
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  margin: 1em;
}

.btn--long {
  width: 100%;
  background-color: rgb(167, 35, 201);
  padding: 0.5em;
  color: white;

  &:first-of-type {
    border-bottom: 1px solid black;
  }
}

.btn--add {
  background-color: inherit;
  margin-top: 2em;
}

.btn-nowidth { 
  position: absolute;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);
  background-color: inherit;
  right: 0.5em;
}

.btn-nowidth:hover {
  cursor: pointer;
}

.relative {
  position: relative;
  border-radius: 5px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.testing {
  border-radius: 50%;
  font-size: 1em;
  height: 32px;
  width: 32px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1200px;
}

.total-price {
  padding: 0.5em 2em;
  margin-bottom: 1em;
  background: rgb(119, 221, 119);
  color: rgb(66, 66, 66);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.small-button {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgb(167, 35, 201);
  color: white;
}

.small-button:hover {
  background-color: rgb(119, 24, 143);
}

.select--list {
  width: 200px;
  padding: 1em;
  margin-left: auto;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  text-align: center;
}

.select--sortBy {
  width: 200px;
  padding: 1em;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  text-align: center;
}

.itemlist {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em 0.25em;
  font-size: 1.25em;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-out;

  &:hover {
     cursor: pointer;
    background-color: rgba(119, 221, 119, 0.5);
  }
  &--editing {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em 0.25em;
    font-size: 1.25em;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease-out;
  }
  &--editable {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
  }
}

.icon {
  height: 24px;
  width: 24px;
  margin: 0 5px;
  z-index: 5;
}

.icon:hover {
  cursor: pointer;
}

.wrapper--nav-bar {
  max-width: 800px;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.name {
  font-size: 1em;
  background-color: rgb(119, 221, 119);
  padding: 0.5em;
  text-align: center;
}

.name-edit {
  background-color: rgb(255, 116, 116);
  padding: 0.25em;
}

.small-text {
  width: 80%;
  font-size: 1em;
  margin: 0.25em 0;
  text-align: left;
}

.wrap--editing-item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}

.medium-text {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0;
}

.name-edit--input {
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(202, 202, 202);
  width: 100%;
  padding: 0.25em;
}

.label {
  font-size: 0.75em;
  width: 20%;
  color: rgba(0, 0, 0, 0.5);
}

.notes {
  font-size: 0.75em;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

.heading {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  justify-self: flex-start;
}

.input--main {
  background-color: blue;
  margin: 1em 0;
  font-weight: 400;
  padding: 0.5em;
  color: white;
  text-align: center;
}