* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(231, 230, 230);
}

.btn--long {
  width: 100%;
  background-color: rgb(167, 35, 201);
  padding: 0.5em;
  color: white;
}

.btn--long:first-of-type {
  border-bottom: 1px solid black;
}

.btn--add {
  /* margin-left: 2em; */
  background-color: inherit;
}

.relative {
  position: relative;
  border-radius: 5px;
  /* animation: fadein 2s; */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.testing {
  border-radius: 50%;
  font-size:1em;
  height: 32px;
  width: 32px;
  position: absolute;
  top: -10px;
  right:-10px ;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-price {
  padding: 0.5em 2em;
  margin-bottom: 1em;
  background: rgb(119, 221, 119);
  color: rgb(66, 66, 66);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.small-button {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: rgb(167, 35, 201);
  color: white;
}

.small-button:hover {
  background-color: rgb(119, 24, 143);
}

select {
  width: 100%;
  padding: 1em;
}

.itemlist {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.listItem {
  border-radius: 5px;
  display:flex;
  flex-direction: column;
  /* padding: 0.5em 1em; */
  width: 250px;
  font-size: 1.25em;
  background-color: white;
  margin: 0.5em;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.name {
  font-size: 2em;
  background-color: rgb(119, 221, 119);
  padding: 0.25em;
  text-align: center;
}

.name-edit {
  background-color: rgb(255, 116, 116);
  padding: 0.25em;
}

.small-text {
  font-size: 1em;
  margin: 0.5em 0;
  text-align: center;
}

.medium-text {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0;
}

.name-edit--input {
  font-size: 2em;
  text-align: center;
  padding: 0.25em;
  border: 1px solid rgb(167, 166, 166);
}

.heading {
  font-size: 2em;
  text-align: center;
  font-size: 700;
  margin-bottom: 1em;
}

input {
  width:100%;
  background-color: inherit;
  /* background-color: rgb(201, 198, 198); */
}